extend layout

block content
  p
  textarea(rows=12, cols=50, name="Comment" required, placeholder= "Enter Your Text here") 
   
  p
  button.btn(data-action="bea") Submit Text
  p
  button.btn(data-action="bea") Search Text