!!!5
html
  head
    title #{title} - Web Interface
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Web Interface
    .container
      .main-content
        block content
      
    footer
      p Running on node with Express, Jade and Stylus